* {
    font-family: 'Bodoni Moda', openSans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}



img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*------------- HEADER -------------*/

.logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header img {
    width: 100%;
    max-width: 180px;
    height: auto;
}

/*------------- MENU -------------*/

.nav {
    background-color: #000;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 16px;
}


.nav-menu a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
    padding: 10px 15px;
    border-radius: 10px;
}

.nav-menu a:hover {
    background-color: #fff;
    color: #000;
}

/*------------- AGENDAMENTO -------------*/

#agendamento {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#agendamento .texto {
    width: 100%;
    max-width: 800px;
    font-size: 22px;
    text-align: center;
    color: #000;
    text-shadow: 2px 2px 2px #300059;
}


.btn-entrar-em-contato {
    width: 100%;
    max-width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    background-color: #300059;
    border-color: #FFF;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

.btn-entrar-em-contato:hover {
    color: #2f0059bd;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 16px #2f0059bd;
}

/*------------- TRANÇAS -------------*/

#sobre {
    background-color: #fff;
    height: auto;
}

#sobre-trancas {
    background-image: url('../imagens/fundo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 20px;
}

#sobre-trancas h2 {
    color: #FFF;
    font-size: 25px;
    padding: 30px 10px 0px ;
}

#sobre-trancas .btn-entrar-em-contato {
    margin-top: 20px;
}

/*------------- CARROSEL DAS TRANÇAS -------------*/
.carrosel-trancas {
    background-color: #2f0059b1;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}

.carrosel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosel img {
    width: 100%;
    object-fit: cover;
}

.botao-anterior,
.botao-posterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #300059;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.botao-anterior {
    left: 10px;
    opacity: .8;
}

.botao-posterior {
    right: 10px;
    opacity: .8;
}

/*------------- TRANCISTA -------------*/

.sobre-trancista,
.sobre-salao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    padding: 30px 20px;
}

.trancista img {
    width: 100%;
    max-width: 400px;
}

.main h2 {
    color: #2f0059b1;
    font-size: 30px;
    margin-bottom: 12px;
}

.main p {
    color: #300059;
    font-size: 18px;
    text-align: justify;
    font-weight: 600;
}

/*------------- LOCALIZAÇÃO -------------*/

.localizacao {
    justify-self: center;
    width: 100%;
    max-width: 800px;
}

.localizacao iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
}

/*------------- DÚVIDAS FREQUENTES -------------*/

#duvidas-frequentes {
    width: 100%;
    max-width: 900px;
    align-items: center;
    justify-self: center;
    padding: 40px 20px;
}

#duvidas-frequentes h2 {
    text-align: center;
}

#duvidas-frequentes details {
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 10px;
}

#duvidas-frequentes summary {
    background-color: #300059;
    font-size: 18px;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    list-style: none;
    transition: 0.3s;
}

#duvidas-frequentes summary:hover {
    opacity: .8;
    background-color: #2f0059f3;
}

#duvidas-frequentes p {
    background-color: #2f00598a;
    opacity: .8;
    font-weight: bold;
    padding: 16px;
    color: #fff;
}

/*------------- FOOTER -------------*/

.footer {
    position: relative;
}

.botao-voltar-inicio {
    position: absolute;
    transform: rotate(90deg);
    background-color: #300059;
    color: #fff;
    opacity: .9;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    right: 20px;
    top: -13%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.footer-informacoes {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.footer .redes-sociais img {
    width: 35px;
    justify-self: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer .logo-footer {
    width: 100%;
    max-width: 400px;
}

.footer-credito {
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    padding: 8px;
}

.footer-credito a {
    color: #000;
}

/*------------- RESPONSIVIDADE NAS TELAS -------------*/

@media (max-width: 1180px) {
    #agendamento {
        height: 30vh;
    }

    .trancista img {
        width: 300px;
    }

    .sobre-trancista,
    .sobre-salao {
        flex-direction: column;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
    }
}

@media (min-width: 1181px) {
    #agendamento {
        height: 50vh;
    }

    .trancista img {
        width: 400px;
    }
}